@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
	 font-family: 'S-CoreDream-5Medium';
	 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	 font-weight: normal;
	 font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-6Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-7ExtraBold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-8Heavy';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

.nanumExBold{font-family: 'NanumSquare', sans-serif !important;font-weight:800;}
.nanumBold{font-family: 'NanumSquare', sans-serif !important;font-weight:700;}
.nanumRegul{font-family: 'NanumSquare', sans-serif !important;font-weight:400;}
.notoExBold{font-family: 'Noto Sans KR', sans-serif !important;font-weight:900;}
.notoBold{font-family: 'Noto Sans KR', sans-serif !important;font-weight:600;}/*700*/
.notoMedium{font-family: 'Noto Sans KR', sans-serif !important;font-weight:500;}
.notoRegul{font-family: 'Noto Sans KR', sans-serif !important;font-weight:400;}/*400*/
.notoLight{font-family: 'Noto Sans KR', sans-serif !important;font-weight:300;}
.scorelight{font-family: 'S-CoreDream-3Light';}
.scoreRegul{font-family: 'S-CoreDream-4Regular';}
.scoreMedium{font-family: 'S-CoreDream-5Medium';}
.scoreBold{font-family: 'S-CoreDream-6Bold';}
.scoreExBold{font-family: 'S-CoreDream-7ExtraBold';}
.scoreHeavy{font-family: 'S-CoreDream-8Heavy';}


html{position:relative;}