/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main top slick SectionAA ---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.highBroWrap .thm-btn.fill-btn {
  font-size: 15px;
}

.text-white_e {
  line-height: 57px !important;
}
.feat-cap-TitleB {
  font-weight: 700;
}

.highImg,
.brochureImg {
  margin-left: -10px;
  margin-right: 19px;
}

.feat-cap-Title_e span {
  font-weight: 300;
}
.feat-cap-Title_e {
  font-weight: 500;
}
.text-white_e {
  font-weight: 700;
}
.feat-cap-Title_e,
.text-white_e,
.feat-cap-TitleB_e {
  font-family: 'Roboto';
  font-weight: 700;
  margin-bottom: 37px;
}
.feat-cap-TitleB_e {
  font-weight: 500;
}

.feat-cap-TitleB_e {
  margin-bottom: 3.1rem;
}

.feat-cap-Title {
  margin-bottom: 46px;
}
.feat-cap > h3 {
  margin-bottom: 23px;
}

.pb-225 {
  padding-bottom: 225px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main top slick Section ---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main counter Section -----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.countContentWrap {
  padding-left: 70px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main counter Section -----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main WKF Introduce Section -----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.mainnTitle1 {
  font-size: 47px !important;
}

.main_t1_BtWrap {
  font-size: 19px;
}

.main_t1_Txt {
  font-size: 21px;
}

.mainnTitle1_e {
  font-size: 42px !important;
}
.mainnTitle2_e {
  font-size: 42px !important;
}
.main_t1_Txt_e {
  font-size: 20px;
}
.main_t1_BtWrap_e {
  font-size: 18px;
}

.main_t1_BtImg {
  background-size: contain;
  width: 27px;
  height: 30px;
}
.thm-btn.brd-btn:hover > .main_t1_BtImg {
  background-size: contain;
  width: 27px;
  height: 30px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main WKF Introduce Section -----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main WKF VIP Speaker Section ---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.speaker-boxA {
  width: 100%;
}
.speakerContentWrap {
  height: auto;
  align-self: flex-start;
  max-width: 100%;
}
.speaker-boxA .img-fluid {
  max-width: 100%;
  min-height: auto;
}

.speakerTxtWrap {
  width: 100%;
}
.speakerTxtContentBody {
  width: 100%;
}
.speakerTopLine {
  width: 23px;
}
.speakerNameTxt_e {
  font-size: 20px;
}
.speakerCompany_e {
  font-size: 13px;
  font-weight: 500;
}

.divHidden {
  padding: 19px 15px;
  height: 150px;
}
.divHidden2 {
  padding: 19px 15px;
  height: 100px !important;
}

.speakerNameTxt {
  font-size: 20px;
}
.fa-chevron-right {
  font-size: 13px;
}

.main_speakerMoreBt_e {
  font-size: 16px;
}

.onlineSpkGb {
  margin-bottom: 3px;
}

.mainSpeaker_Move {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main WKF VIP Speaker Section ---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main WKF Program Section -------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.innerMenuWrap {
  border: 1px solid #e9e9e9;
  border-bottom: 0;
}
.dayDiv {
  border: 1px solid #e9e9e9;
}
.programSessionWrap {
  cursor: pointer;
}
.mainProgramDownBt {
  font-size: 18px;
}
#sessionListWrap .fa-chevron-right {
  font-size: 14px;
}
.programSessionTime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}
.programSessionTime img {
  margin-right: 5px;
}
.programSessionTitle {
  padding-top: 6px;
  padding-right: 25px;
}

.mainProgramDownBt_e {
  font-size: 16px;
}

#sessionDayMenu .innerMenu {
  border: 0;
  border-right: 1px solid #f0f0f0;
  font-size: 32px;
  font-weight: 700;
  padding: 21px 0 16px 0;
}
#sessionDayMenu .innerMenu:last-child {
  border-right: 0;
}
#sessionDayMenu .innerMenu span {
  font-size: 15px;
  font-weight: 600;
}

.programDownImg {
  width: 28px;
  height: 28px;
  background-size: 28px;
}

#sessionDayMenu .innerMenuWrap > .innerMenu:after {
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 20px;
  bottom: -7.7%;
  transition: none !important;
}

#sessionListWrap {
  height: 460px;
}

#sessionPopLeftDiv {
  height: 100%;
}

.roomDiv {
  height: 100%;
  overflow-y: scroll;
  padding: 40px 80px 60px 80px;
}

.roomDiv::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.roomDiv::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
.roomDiv::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
.roomDiv::-webkit-scrollbar {
  width: 5.2px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main WKF Program Section -------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Knowledge stream Section --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.knowledgeTxtTitle,
.knowledgeTxtWriter {
  font-weight: 300;
}

.knowledgeWrap > button.slick-prev {
  left: 92.4%;
}

.mainKnowledgeBtWrap img {
  max-width: 100%;
}
.mainKnowledgeBtTxt {
  margin-bottom: 10px;
}

.vodImgBox {
  width: 100%;
}
.vodImgBox img {
  width: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Knowledge stream Section --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Knowledge archive Section -------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
.archiveTxtTitle,
.archiveTxtWriter {
  font-weight: 300;
}

.mainArchiveBtWrap img {
  max-width: 100%;
}
.mainArchiveBtTxt {
  margin-bottom: 10px;
}

.archiveWrap > button.slick-prev {
  left: 92.4%;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Knowledge archive Section -------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Notice Section ------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
.noticeTitleWrap {
  align-items: flex-end;
  border-bottom: 5px solid #fff;
}

.mainNoticeImgIcon {
  margin-right: 28px;
}

.mainnTitle3_1 {
  margin-left: 3px;
  font-size: 16px;
}
.mainnTitle3 {
  margin-bottom: 15px;
}
.mainnTitle3_e {
  margin-top: 15px;
}

.mainNoticeImgIcon {
  margin-bottom: 21px;
}

.mainNoticeImgWrap {
  background-image: url('/2022/assets/images/wkf/m_n.png');
  background-size: cover;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Notice Section ------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Partner Section -----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.mainPartnerLogoWrap {
  width: 48%;
}

.mainOurPartnerWrap ul.slick-dots {
  padding: 0 0.9375rem;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainOurPartnerWrap ul.slick-dots > li {
  margin: 0 0.3rem;
}

.mainOurPartnerWrap > button.slick-arrow {
  position: absolute;
  background-color: transparent;
  padding: 0;
  top: 4.825rem;
  height: 48px;
  width: 27px;
}

.mainOurPartnerWrap > button.slick-next {
  right: -7%;
}
.mainOurPartnerWrap > button.slick-prev {
  left: -8%;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Partner Section -----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Footer Section ------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*
.familySiteWrap{cursor:pointer;}
.familySiteBody{width:100%;height:100%;position:absolute;top:0;left:0;z-index:9;background:rgba(0,0,0,0.7);display:none;}
.familyCloseBt{position:absolute;width:24px;height:24px;right:15px;top:15px;cursor:pointer;}
.familyContentBody{width:100%;height:100%;display:flex;justify-content:center;align-items:center;}
.familyContentWrap{width:65%;height:70%;display:flex;justify-content:space-between;align-items:center;}
.familyLogoWrap{width:33.33%;display:flex;justify-content:center;align-items:center;cursor:pointer;}

*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Main Footer Section ------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub Partner Section -----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

h1 {
  line-height: 1.5;
}
.bb-lined0 {
  border-bottom: 1px solid #d0d0d0;
}
.subPartnerLogoWrap {
  width: 19%;
  height: 100px;
  /* border: 1px solid #e7e7e7; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mr-11 {
  margin-right: 14px;
  background: #ffffff;
}

.mr-11:nth-child(5n) {
  margin-right: 0;
}

.subPartnerLogoContent {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subPartnerLogoContent img {
  max-height: 100%;
}

.subPartnerLogoWrap {
  cursor: pointer;
}
.subPartnerMove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bannerImgWrap {
  width: 45%;
}

.subPartnerBannerLogoWrap {
  width: 100%;
}
.subPartnerBannerLogoWrap img {
  width: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub Partner Section -----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.programSessionBt {
  cursor: pointer;
}

.bannerImgWrap ul.slick-dots {
  padding: 0 0.9375rem;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bannerImgWrap ul.slick-dots > li {
  margin: 0 0.3rem;
}

.bannerImgWrap > button.slick-arrow {
  position: absolute;
  background-color: transparent;
  padding: 0;
  top: 7.825rem;
  height: 48px;
  width: 27px;
}

.bannerImgWrap > button.slick-next {
  right: -19%;
}
.bannerImgWrap > button.slick-prev {
  left: -19%;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub Common ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.titleTopLineA {
  width: 50px;
  height: 7px;
  background: #dc1c4d;
  margin-bottom: 10px;
}
.titleTopLineB {
  width: 28px;
  height: 4px;
  background: #dc1c4d;
  margin-bottom: 7px;
}
.titleTopLineC {
  width: 32px;
  height: 5px;
  background: #dc1c4d;
  margin-bottom: 10px;
}

.thm-btn:hover span,
.thm-btn:focus span {
  width: 80rem;
  height: 80rem;
}

.pt-25 {
  padding-top: 25px;
}
.pb-15 {
  padding-bottom: 15px;
}

.subTop_title_e {
  font-size: 38px;
  line-height: 1.2;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub Common ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.sub1-1_insta img {
  margin-right: 6px;
  width: 32px;
  height: 32px;
}
.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.sub1_1_TxtUl {
  padding-left: 20px;
}

.sub1_1_txtPWrap .sub1_1_txtG {
  font-size: 24px;
}
.sub1-1_txt_e {
  font-size: 17px;
}
.mapTxtUl_e li:before {
  display: none;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

#subContent1 .ceoTxtDiv.ceoTxtDiv_e {
  margin-top: -135px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.sub1-2_arrowIcon {
  height: 22px;
  margin-right: 3px;
}

.mapTxtUl {
  padding-left: 55px;
}
.mapTxtUl li {
  position: relative;
}
.mapTxtUl li:before {
  margin-right: 0px;
  position: absolute;
  top: 13px;
  left: -10px;
  transform: translate(-50%, -50%);
}
.mapPlaceDiv {
  border-bottom: 1px solid #b6b6b6;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-5 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.sub1-5_arrowImg {
  margin-right: 10px;
  height: 27px;
}
.sub1-5_line {
  border-bottom: 1px solid #c5c5c5;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 1-5 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 2-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.subjectTxtDiv p {
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 400;
  font-size: 17px;
  color: #656565;
  margin-bottom: 35px;
}
.sub2_chkIcon {
  margin-right: 5px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 2-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 2-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.programSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

#frm1 > div > div > input::placeholder,
body
  > main
  > section:nth-child(5)
  > div
  > div
  > div.row
  > div
  > div:nth-child(2)
  > div
  > div
  > input::placeholder,
body
  > main
  > section:nth-child(5)
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > form
  > div
  > div
  > input::placeholder,
div.d-flex.justify-content-center.align-items-center.speakerSelectWrap > div > input::placeholder,
div.d-flex.justify-content-center.align-items-center.programSelectWrap > div > input::placeholder {
  color: #666666;
}

.sub2-2_Bt {
  padding: 15px 46px;
}
.sub2-2_ArrowImgWrap img {
  margin-right: 5px;
  height: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 2-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 2-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.subMiddleBtWrap .subBtTitleA {
  font-size: 16px;
}
.subMiddleBtWrap .subBtTitleB {
  font-size: 16px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 2-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 3-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.speakerNameTxt {
  margin-top: 3px;
}
.speakerSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 3-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 3-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.speakerCompany {
  width: 90%;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 3-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 4-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 4-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.fileTxt {
  margin-right: 19px !important;
}

.pastForumTopicMenuWrap .pastForumTopicMenu {
  word-break: break-word;
  font-size: 14px;
}
.pastForumTopicMenuWrap .pastForumTopicMenu:nth-child(2) {
  width: 15%;
}
.pastForumTopicMenuWrap .pastForumTopicMenu:nth-child(6) {
  width: 15%;
}

.pastForumTxtTopic {
  font-weight: 300;
}
.pastForumTxtDate {
  font-weight: 300;
}
.pastForumTxtTitle {
  font-weight: 300;
  margin-top: 7px;
}

.sub5_fileImg {
  height: 19px;
  width: 22px;
  margin-right: 5px;
}

.pastForumDetailContantTxt {
  font-weight: 300;
}

.sub5_1_listBt p {
  font-size: 17px;
  color: #ffffff;
}
.pastForumDetailTitleWrapA .pastForumDetailSpeakerInfo {
  font-weight: 600;
}

.sub5_1_highProBtWrap .sub5_1_Bt_1,
.sub5_1_highProBtWrap .sub5_1_Bt_2 {
  padding: 17px 0 16px 0;
}

.sub5_1_highProBtWrap .sub5_1_Bt_1,
.sub5_1_highProBtWrap .sub5_1_Bt_2,
.sub5_1_highProBtWrap .sub5_1_Bt_3 {
  width: 32%;
  font-weight: 500;
}
.sub5_1_speakerBtImg {
  width: 30px;
  height: 31px;
  background-size: 30px;
  margin-right: 10px;
  margin-left: -6px;
}

.pastForumSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

.subBtTitleSub5_1_e {
  font-size: 17px;
}

.sub5_1_highProBtWrap .sub5_1_Bt_1_e,
.sub5_1_highProBtWrap .sub5_1_Bt_2_e,
.sub5_1_highProBtWrap .sub5_1_Bt_3_e {
  font-size: 16px;
}

.topicTxt_etopicTxt_e_m {
  font-weight: 500;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.knowledgePortalDetailTitleWrapA .knowledgePortalDetailTitle {
  font-weight: 600;
}
.knowledgePortalDetailTitleWrapA .knowledgePortalDetailSpeakerInfo {
  font-weight: 600;
}

.sub5_2_listBt p {
  font-size: 17px;
  color: #ffffff;
}

.knowledgePortalSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.knowledgePortalTxtDate {
  font-weight: 300;
}
.knowledgePortalTxtTitle {
  font-weight: 300;
  margin-top: 7px;
}
.sub5_3_listBt p {
  font-size: 17px;
  color: #ffffff;
}

.knowlStreamDetailTitleWrapA .knowlStreamDetailTitle {
  font-weight: 600;
}
.knowlStreamDetailTitleWrapA .knowlStreamDetailSpeakerInfo {
  font-weight: 600;
}

.knowlStreamTxtDate {
  font-weight: 300;
}
.knowlStreamTxtTitle {
  font-weight: 300;
  margin-top: 7px;
}

.knowlStreamSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-4 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.citizenTxtDate {
  font-weight: 300;
}
.citizenTxtTitle {
  font-weight: 300;
  margin-top: 7px;
}
.citizenTxtWrap {
  height: 125px;
}

.citizenDetailTitleWrapA .citizenDetailTitle {
  font-weight: 600;
}
.citizenDetailTitleWrapA .citizenDetailSpeakerInfo {
  font-weight: 600;
}

.sub5_4_listBt p {
  font-size: 17px;
  color: #ffffff;
}

.citizenSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-4 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-5 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.grobalForum_title {
  top: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.grobalForum_table_p {
  width: 100%;
}
.grobalForum_table_p th {
  width: 30%;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px;
  background: #ad0038;
  color: white;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 600;
}
.grobalForum_table_p td {
  width: 30%;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px;
  color: #808080;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 300;
}

.grobalForum_title span {
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 600;
}

.grobalForum_table_e td {
  font-size: 14px;
}

.grobalForum_title_e {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  top: 81px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 430px;
  height: 50px;
  line-height: 50px;
  background: #db1c4d;
  border-radius: 25px;
  z-index: 1;
}

.grobalForum_title_e span {
  position: absolute;
  left: 50px;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 600;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.grobalForum_title_e span:last-child {
  left: auto;
  right: 50px;
}

.grobalForum_title_e:after {
  display: block;
  position: absolute;
  top: 0;
  right: -100px;
  width: 80%;
  height: 50px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  background-color: #ad0038;
  content: '';
}

.grobalForum_title_e {
  top: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.grobalForum_title_e:after {
  width: 71%;
}
.grobalForum_title_e span {
  left: 65px;
}
.grobalForum_title_e span:last-child {
  right: 65px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 5-5 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 6-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
.sub6_1_1_fileImg {
  height: 19px;
  width: 22px;
  margin-right: 5px;
}

.pagination-wrap .scoreRegul {
  font-size: 16px;
}

.pagination-wrap .fa-angle-double-left {
  color: #444444;
}
.pagination-wrap .fa-angle-double-right {
  color: #444444;
}

.newsSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

.newMainTilte {
  line-height: 1.5;
}

.sub6_1_listBt p {
  font-size: 17px;
  color: #ffffff;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 6-1 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 6-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.noticeMainTilte {
  line-height: 1.5;
}
.sub6_2_listBt p {
  font-size: 17px;
  color: #ffffff;
}

.noticeSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

.noticeContentTxt2 {
  text-align: left;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 6-2 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 6-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.eventImgSelectWrap .schWrap input {
  height: 48px !important;
  background-size: 48px;
}

.eventImgTilte {
  line-height: 1.5;
}

.sub6_3_listBt p {
  font-size: 17px;
  color: #ffffff;
}
.eventImgTxtDate {
  font-weight: 400;
}

.contentImgBody {
  padding-top: 40px;
}
.contentImgBody:first-child {
  padding-top: 0px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* Sub 6-3 Section ----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* speakerPop Modal ---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.speakerTopLineImg {
  width: 24px;
  height: 3px;
}
.speakerPopSessionTxtA {
  font-size: 21px;
  color: #dc1c4d;
  font-weight: 600;
}
.speakerPopSessionTitle {
  padding-left: 0;
  font-size: 17px;
  font-weight: 600;
}
.speakerPopInfoTxt {
  font-size: 16px;
  font-weight: 600;
  color: #656565;
}
.speakerPopInfoTxtWrap {
  width: 100%;
  height: 60%;
  max-height: 370px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 15px;
  overflow-y: scroll;
  overflow-wrap: anywhere;
}

.speakerPopInfoTxtWrap::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.speakerPopInfoTxtWrap::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
.speakerPopInfoTxtWrap::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
.speakerPopInfoTxtWrap::-webkit-scrollbar {
  width: 5.2px;
}

.speakerPopInfoTxtContentBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 35px;
}

.speakerPopImgWrap {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 25px;
  height: 55%;
}
.speakerPopTxtWrap {
  max-width: 300px;
  margin: 0 auto;
  justify-content: flex-start;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/* speakerPop Modal ---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* sessionPop Modal ---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.sessionPopSessionTxt {
  font-size: 23px;
}
.sessionPopInfoTxtA {
  font-size: 17px;
  font-weight: 600;
  color: #656565;
}
.sessionPopSessionTitle {
  font-size: 19px;
}

.sessionTopLineImg {
  width: 22px;
  height: 3px;
}

.sessionPopTxtA {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.2;
}
.sessionPopTimePlaceInfo,
.sessionPopSpeakerInfo,
.sessionPopModeratorInfo {
  font-size: 15px;
}

.sessionPopLeftBottom::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.sessionPopLeftBottom::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
.sessionPopLeftBottom::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
.sessionPopLeftBottom::-webkit-scrollbar {
  width: 5.2px;
}

.sessionDetailInfoWrap {
  margin-bottom: 15px;
  width: 100%;
}
.sessionDetailInfoWrap:last-child {
  margin-bottom: 0;
}

.sessionPopInfoTxt {
  font-size: 16px;
  font-weight: 600;
  color: #656565;
}

.sessionPopInfoTxtContentBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 25px;
}
.sessionPopInfoTxtWrap {
  width: 100%;
  height: 100%;
  max-height: 370px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 15px;
  overflow-wrap: anywhere;
  overflow: auto;
}

.sessionPopInfoTxtWrap::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.sessionPopInfoTxtWrap::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
.sessionPopInfoTxtWrap::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
.sessionPopInfoTxtWrap::-webkit-scrollbar {
  width: 5.2px;
}

.sessionPopLeftContentBody {
  height: 92%;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/* sessionPop Modal ---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/
/* parnter registry ---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.feeWrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.feeWrap > input[type='number'] {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #d8d8d8;
  border-radius: inherit;
  width: 15%;
  transition: all 0.3s ease-in-out;
}
.feeWrap > input[type='number']:focus {
  border-bottom: 1px solid #dc1c4d;
  background-color: #ffffff;
}
.percent {
  font-size: 1.3rem;
}

.fileWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.fileWrap > div {
  width: 50%;
}
.fileWrap .fileBtn {
  border: 1px solid #dc1c4d;
  padding: 8px 15px;
  background-color: #dc1c4d;
  color: #fff !important;
  cursor: pointer;
}

.fileWrap .fileName {
  border: 1px solid #d8d8d8;
  padding: 8px 15px;
}

.mg-top {
  margin-top: -30px;
}

.subscribe {
  background-color: #f7f7f7;
  width: 100%;
  padding: 20px;
}

@media (max-width: 852px) {
  .fileWrap {
    flex-direction: column;
  }
  .fileWrap > div {
    width: 100%;
    font-size: 0.9rem;
  }
  .fileWrap > div:nth-child(2) {
    margin-top: 20px;
  }

  .feeWrap > input[type='number'] {
    width: 30%;
  }
}

/*----------------------------------------------------------------------------------*/
.opensession_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.opensession_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  padding: 2rem 0;
  border-bottom: 1px solid #9999995c;
}
.opensession_date {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
.opensession_planWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0.7rem;
}

.opensession_plan {
  color: black;
  font-weight: 550;
  font-size: 1.1rem;
}

.opensession_text {
  color: #656565;
  font-size: 0.9rem;
}